<body>
    <div class="container">
        <div class="table-responsive-sm">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-8"><h2>Chi tiết tin <b>tuyển dụng</b></h2></div>
                        
                    </div>
                        
                        <div class="mb-5">
                                <button   type="button" class="btn btn-outline-success mr-4"  data-bs-toggle="modal" data-bs-target="#kt_modal_add_user">
                                    Tải xuống CV
                                </button>
                                <button *ngIf="statusJobRegister?.code==='Chờ duyệt'" (click)="statusAccept('Chờ phỏng vấn')" type="button" class="btn btn-outline-secondary mr-4"  data-bs-toggle="modal" data-bs-target="#kt_modal_add_user">
                                    Xét duyệt
                                </button>
                                <button *ngIf="statusJobRegister?.code==='Chờ duyệt'||statusJobRegister?.code==='Chờ phỏng vấn'" (click)="openDialogReject()" type="button" class="btn btn-outline-info mr-4"  data-bs-toggle="modal" data-bs-target="#kt_modal_add_user">
                                    Từ chối ứng viên
                                </button>
                                <button   type="button" class="btn btn-outline-warning mr-4"  data-bs-toggle="modal" data-bs-target="#kt_modal_add_user">
                                    Xem lý do
                                </button>
                                <button    class="btn btn-outline-warning mr-4"  data-bs-toggle="modal" data-bs-target="#kt_modal_add_user">
                                    Đặt lịch phỏng vấn
                                </button>
                        </div>
                  
                </div>
                <table class="table table-bordered">
                    <thead>
                        
                    </thead>
                    <tbody class="">
                       
                        <tr>
                            <td class="font-weight-bold"> 
                                Id 
                            </td>
                            <td *ngIf="job"> 
                               {{job.id}}
                            </td>
                        </tr>
                    
                        <tr>
                            <td class="font-weight-bold"> 
                                Tên công việc
                            </td>
                            <td *ngIf="job"> 
                                {{job.name}}
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold"> 
                                Vị trí công việc
                            </td>
                            <td *ngIf="job"> 
                                {{job?.jobPosition?.code}}
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold"> 
                                Số năm kinh nghiệm
                            </td>
                            <td *ngIf="job"> 
                                {{job?.numberExperience}}
                            </td>
                            
                        </tr>
                        <tr>
                             <td class="font-weight-bold"> 
                                Hình thức làm việc
                            </td>
                            <td *ngIf="job"> 
                                {{job?.workingForm?.code}}
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold"> 
                                Hạn nộp hồ sơ
                            </td>
                            <td *ngIf="job"> 
                                {{job.dueDate|date:'dd/MM/yyyy'}}
                            </td>
                            
                        </tr>
                        <tr>
                            <td class="font-weight-bold"> 
                                Mức lương
                            </td>
                            <td *ngIf="job"> 
                                Từ {{job.salaryMin}} đến {{job.salaryMax}}
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold"> 
                                Ngày ứng tuyển
                            </td>
                            <td > 
                                {{jobRegister?.dateRegister|date:'dd/MM/yyyy'}}
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold"> 
                                Tên ứng viên
                            </td>
                            <td *ngIf="job"> 
                                {{user?.userName}}
                            </td>
                        </tr>
                         <tr>
                            <td class="font-weight-bold"> 
                                Email
                            </td>
                            <td *ngIf="job"> 
                                {{user?.email}}
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold"> 
                                Số điện thoại
                            </td>
                            <td *ngIf="job"> 
                                {{user?.phoneNumber}}
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold"> 
                                Kĩ năng ứng viên
                            </td>
                            <td *ngIf="job"> 
                                {{profile?.skills}}
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold"> 
                                Năm kinh nghiệm ứng viên
                            </td>
                            <td *ngIf="job"> 
                                {{profile?.numberYearExperience}}
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold"> 
                                Mức lương mong muốn
                            </td>
                            <td > 
                                {{profile?.desiredSalary}}
                            </td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold"> 
                                Hình thức mong muốn
                            </td>
                            <td > 
                                {{profile?.desiredWorkingForm}}
                            </td>
                        </tr>
                        
                </tbody>
                </table>
            </div>
        </div>        
    </div>     
</body>
