<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="index.html" class="navbar-brand d-flex align-items-center text-center py-0 px-4 px-lg-5">
      <h1 class="m-0 text-primary">Job IT</h1>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ms-auto p-4 p-lg-0">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-mdb-toggle="dropdown">Việc làm IT</a>
          <ul class="dropdown-menu rounded-0 m-0">
            <li class="nav-item dropdown">
              <a class="dropdown-item" data-bs-toggle="dropdown" aria-labelledby="navbarDropdownMenuLink" href="#">
                Theo khả năng  &raquo;
              </a>
              <ul class="dropdown-menu dropdown-submenu">
                <li>
                  <a class="dropdown-item" href="#">Fresher</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Junior</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Middle</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Senior</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Leader</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="dropdown-item" data-bs-toggle="dropdown" aria-labelledby="navbarDropdownMenuLink" href="#">
                Theo kỹ năng  &raquo;
              </a>
              <ul class="dropdown-menu dropdown-submenu">
                <li>
                  <a class="dropdown-item" href="#">JavaScript</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Java</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">PHP</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Python</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">IOS</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Tester</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Project Manager</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Business Analyst</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="dropdown-item" data-bs-toggle="dropdown" aria-labelledby="navbarDropdownMenuLink" href="#">
                Theo vị trí  &raquo;
              </a>
              <ul class="dropdown-menu dropdown-submenu">
                <li>
                  <a class="dropdown-item" href="#">Hồ Chí Minh</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Hà Nội</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Đà Nẵng</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <a href="about.html" class="nav-item nav-link">Công ty IT</a>
        <a href="about.html" class="nav-item nav-link">Blog IT</a>
        <a href="contact.html" class="nav-item nav-link">Liên hệ</a>
      </ul>
      <a *ngIf="!checkloggin" routerLink="/auth" class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block">Đăng nhập<i
          class="fa fa-arrow-right ms-3"></i></a>
          <div *ngIf="checkloggin" class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block" data-bs-toggle="dropdown">{{this.userName}}</a>
            <div class="dropdown-menu rounded-0 m-0">
              <a href="category.html" class="dropdown-item">Thông tin cá nhân</a>
              <a href="testimonial.html" class="dropdown-item">Đổi mật khẩu</a>
              <a (click)="logout()" href="/" class="dropdown-item">Đăng xuất</a>
            </div>
          </div>
    </div>
  </nav>
  <!-- Navbar End -->
