<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<h1>Thêm mới tin tuyển dụng</h1>
    <form class="" [formGroup]="formJob">
        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="row">
                    <label class="label col-4 col-form-label ">Tên công việc</label>
                    <div class="col-8">
                        <input type="text" pInputText class="form-control" formControlName="name">
                        <mat-error *ngIf="formJob.controls.name.errors?.required && formJob.get('name').touched">Không được để trống</mat-error>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="row">
                    <label class="label col-4 col-form-label">Vị trí </label>
                    <div class="col-8">
                        <select class="form-control" formControlName="jobPositionId">
                            <option value="">Chọn vị trí</option>
                            <option *ngFor="let jp of jobPosition" [ngValue]="jp.id">{{jp.code}}</option>
                        </select>
                        <mat-error *ngIf="formJob.controls.jobPositionId.errors?.required && formJob.get('jobPositionId').touched">Không được để trống</mat-error>
                    </div>
                </div>

            </div>
        </div>
        <div class="form-row mb-3"> 
            <div class="col-md-6">
                <div class="row">
                    <label class="label col-4 col-form-label">Năm kinh nghiệm</label>
                    <div class="col-8">
                        <input type="text" pInputText class="form-control" formControlName="numberExperience">
                        <mat-error *ngIf="formJob.controls.numberExperience.errors?.required && formJob.get('numberExperience').touched">Không được để trống</mat-error>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <label class="label col-4 col-form-label">Hình thức làm việc</label>
                    <div class="col-8">
                        <select class="form-control" formControlName="workingFormId">
                            <option value="">Chọn hình thức</option>
                            <option *ngFor="let wf of workingForm"  [ngValue]="wf.id">{{wf.code}}</option>
                        </select>
                        <mat-error *ngIf="formJob.controls.workingFormId.errors?.required && formJob.get('workingFormId').touched">Không được để trống</mat-error>
                    </div>
                </div>

            </div>
        </div>
        <div class="form-row mb-3"> 
            <div class="col-md-6">
                <div class="row">
                    <label class="label col-4 col-form-label">Địa chỉ</label>
                    <div class="col-8">
                        <input type="text" pInputText class="form-control" formControlName="addressWork">
                        <mat-error *ngIf="formJob.controls.addressWork.errors?.required && formJob.get('addressWork').touched">Không được để trống</mat-error>
                    </div>
                </div>
            </div>  
            <div class="col-md-6">
                <div class="row">
                    <label class="label col-sm-4 col-form-label">Trình độ học vấn</label>
                    <div class="col-sm-8">
                        <select class="form-control" formControlName="academicLevelId">
                            <option value="">Chọn trình độ</option>
                            <option *ngFor="let al of academicLevel; let l = last" [ngValue]="al.id" >{{al.code}}</option>
                        </select>
                        <mat-error *ngIf="formJob.controls.academicLevelId.errors?.required && formJob.get('academicLevelId').touched">Không được để trống</mat-error>
                    </div>
                </div>

            </div>
        </div>
        <div class="form-row mb-3">
            <div class="col-md-6">
                <div class="row">
                    <label class="label col-4 col-form-label">Số lượng cần tuyển</label>
                    <div class="col-8">
                        <input type="text" pInputText class="form-control" formControlName="qtyPerson">
                        <mat-error *ngIf="formJob.controls.qtyPerson.errors?.required && formJob.get('qtyPerson').touched">Không được để trống</mat-error>
                        <mat-error *ngIf="formJob.controls.qtyPerson.errors?.pattern && formJob.get('qtyPerson').touched">Chỉ nhập số</mat-error>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="row">
                    <label class="label col-sm-4 col-form-label">Level</label>
                    <div class="col-sm-8">
                        <select class="form-control" formControlName="rankId" >
                            <option value="">Chọn level </option>
                            <option *ngFor="let r of rank" [ngValue]="r.id">{{r.code}}</option>
                        </select>
                        <mat-error *ngIf="formJob.controls.rankId.errors?.required && formJob.get('rankId').touched">Không được để trống</mat-error>
                    </div>
                </div>

            </div>
        </div>
        <div class="form-row mb-3"> 
            <div class="col-md-6">
                <div class="row">
                    <label class="label col-4 col-form-label">Hạn nộp hồ sơ</label>
                    <div class="col-8">
                        <p-calendar formControlName="dueDate" [touchUI]="true" [showIcon]="true" [minDate]="currentDate" ></p-calendar>
                        <mat-error *ngIf="formJob.controls.dueDate.errors?.required && formJob.get('dueDate').touched">Không được để trống</mat-error>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="row">
                    <label class="label col-sm-4 col-form-label">Người liên hệ</label>
                    <div class="col-8">
                        <select class="form-control" formControlName="userContactId">
                            <option value="">Chọn người liên hệ</option>
                            <option *ngFor="let uc of userContact"  [ngValue]="uc.id">{{uc.userName}}</option>
                        </select>
                        <mat-error *ngIf="formJob.controls.userContactId.errors?.required && formJob.get('userContactId').touched">Không được để trống</mat-error>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row mb-3">
            <div class="col-md-6">
                <div class="row">
                    <label class="label col-sm-4 col-form-label">Kĩ năng</label>
                    <div class="col-8">
                        <textarea type="text" pInputText class="form-control" formControlName="skills"></textarea>
                        <mat-error *ngIf="formJob.controls.skills.errors?.required && formJob.get('skills').touched">Không được để trống</mat-error>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <label class="label col-sm-4 col-form-label">Ngày bắt đầu</label>
                    <div class="col-8">
                        <p-calendar formControlName="startDate" [touchUI]="true" [showIcon]="true" [minDate]="currentDate" ></p-calendar>
                        <mat-error *ngIf="formJob.controls.startDate.errors?.required && formJob.get('startDate').touched">Không được để trống</mat-error>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row mb-3"> 
            <div class="col-md-6">
                <div class="row">
                    <label class="label col-sm-4 col-form-label">Quyền lợi được hưởng</label>
                    <div class="col-8">
                        <textarea type="text" pInputText class="form-control" formControlName="interrest"></textarea>
                        <mat-error *ngIf="formJob.controls.interrest.errors?.required && formJob.get('interrest').touched">Không được để trống</mat-error>
                    </div>
                </div>
            </div>
       
            <div class="col-md-6">
                <div class="row">
                    <label class="label col-4 col-form-label">Yêu cầu công việc</label>
                    <div class="col-8">
                            <textarea type="text" pInputText class="form-control" formControlName="jobRequirement"></textarea>
                            <mat-error *ngIf="formJob.controls.jobRequirement.errors?.required && formJob.get('jobRequirement').touched">Không được để trống</mat-error>
                    </div>
                </div>
            </div>
         </div>
        <div class="form-row mb-3">
            <div class="col-md-6">
                <div class="row">
                    <label class="label col-4 col-form-label">Mức lương tối thiểu</label>
                    <div class="col-8">
                        <input type="text" pInputText class="form-control" formControlName="salaryMin">
                        <mat-error *ngIf="formJob.controls.salaryMin.errors?.required && formJob.get('salaryMin').touched">Không được để trống</mat-error>
                        <mat-error *ngIf="formJob.controls.salaryMin.errors?.pattern && formJob.get('salaryMin').touched">Chỉ nhập số</mat-error>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <label class="label col-sm-4 col-form-label">Mức lương tối đa</label>
                    <div class="col-8">
                            <input type="text" pInputText class="form-control" formControlName="salaryMax">
                            <mat-error *ngIf="formJob.controls.salaryMax.errors?.required && formJob.get('salaryMax').touched">Không được để trống</mat-error>
                            <mat-error *ngIf="formJob.controls.salaryMax.errors?.pattern && formJob.get('salaryMax').touched">Chỉ nhập số</mat-error>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group mb-3"> 
                <div class="row">
                    <label class="label col-sm-2 col-form-label">Mô tả công việc</label>
                    <div class="col-sm-10">
                        <textarea type="text" pInputText class="form-control" formControlName="description"></textarea>
                        <mat-error *ngIf="formJob.controls.description.errors?.required && formJob.get('description').touched">Không được để trống</mat-error>
                    </div>
                </div>
        </div>
        <input type="hidden" formControlName="userCreate">
            <div class="card-footer">
            <button class="{{disableClick}}" class="btn btn-success mr-3"  (click)="onSubmit()"  [disabled]="!this.formJob.valid" type="button">Lưu tin</button>
            <button  class="btn btn-primary"  type="button" routerLink="/home/job">Đóng</button>
        </div>
    </form> -->
    <div class="modal-content">
        <div>
            <div class="row justify-content-center" style="margin-left: 0px;margin-right: 0px;">
                <div class="col-12 mb-4" style="height: auto;">
                    <form [formGroup]="formJob">
                        <div class="modal-header">
                            <h2 class="ml-4">Thêm mới tin tuyển dụng</h2>
                            <!--                        <h4 class="modal-title" jhiTranslate="entity.delete.title">Confirm delete operation</h4>-->
    
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                    >&times;</button>
                        </div>
                        <div class="row border-top pt-5 pl-3">
                            <div class="form-group col-sm-6 pb-0 row">
                                <label for="field_code" class="form-control-label col-sm-3">Tên công việc </label>
                                <div class="col-sm-9">
                                    <input type="text" maxlength="255" formControlName="name" id="field_code" class="form-control" placeholder="Nhập tên" >
                                    <small *ngIf="formJob.controls.name.errors?.required && formJob.get('name').touched" class="text-danger">Không được để trống</small>
                                </div>
                            </div>
                            <div class="form-group col-sm-6 ml-3 pb-0 row">
                                <label for="field_unit" class="form-control-label col-sm-3">Vị trí </label>
                                <div class="col-sm-9">
                                    <select formControlName="jobPositionId" id="field_unit" class="form-control">
                                        <option value="">Chọn vị trí</option>
                                        <option *ngFor="let jp of jobPosition" [ngValue]="jp.id">{{jp.code}}</option>
                                    </select>
                                    <small *ngIf="formJob.controls.jobPositionId.errors?.required && formJob.get('jobPositionId').touched" class="text-danger">Không được để trống</small>
                                </div>
                            </div>
                            <div class="form-group col-sm-6 mt-3  pb-0 row">
                                <label for="field_frequency" class="form-control-label col-sm-3">Năm kinh nghiệm </label>
                                <div class="col-sm-9">
                                    <input type="number" formControlName="numberExperience"  class="form-control ng-pristine ng-valid" placeholder="Nhập năm kinh nghiệm">
                                    <small *ngIf="formJob.controls.numberExperience.errors?.required && formJob.get('numberExperience').touched" class="text-danger">Không được để trống</small>
                                </div>
                            </div>
                            <div class="form-group col-sm-6 ml-3 mt-3  pb-0 row">
                                <label for="field_unit" class="form-control-label col-sm-3">Hình thức làm việc</label>
                                <div class="col-sm-9">
                                    <select formControlName="workingFormId" id="field_unit" class="form-control">
                                        <option value="">Chọn hình thức</option>
                                        <option *ngFor="let wf of workingForm"  [ngValue]="wf.id">{{wf.code}}</option>
                                    </select>
                                    <small *ngIf="formJob.controls.workingFormId.errors?.required && formJob.get('workingFormId').touched" class="text-danger">Không được để trống</small>
                                </div>
                            </div>
                            <div class="form-group col-sm-6 pb-0 mt-3  row">
                                <label for="field_code" class="form-control-label col-sm-3">Địa chỉ </label>
                                <div class="col-sm-9">
                                    <input type="text" maxlength="255" formControlName="addressWork" id="field_code" class="form-control" placeholder="Nhập địa chỉ" >
                                    <small *ngIf="formJob.controls.addressWork.errors?.required && formJob.get('addressWork').touched" class="text-danger">Không được để trống</small>
                                </div>
                            </div>
                            <div class="form-group col-sm-6 ml-3 mt-3 pb-0 row">
                                <label for="field_unit" class="form-control-label col-sm-3">Trình độ học vấn</label>
                                <div class="col-sm-9">
                                    <select formControlName="academicLevelId" id="field_unit" class="form-control">
                                        <option value="">Chọn trình độ</option>
                                        <option *ngFor="let al of academicLevel; let l = last" [ngValue]="al.id" >{{al.code}}</option>
                                    </select>
                                    <small *ngIf="formJob.controls.academicLevelId.errors?.required && formJob.get('academicLevelId').touched" class="text-danger">Không được để trống</small>
                                </div>
                            </div>
                            <div class="form-group col-sm-6 mt-3 pb-0 row">
                                <label for="field_code" class="form-control-label col-sm-3">Số lượng cần tuyển </label>
                                <div class="col-sm-9">
                                    <input type="text" maxlength="255" formControlName="qtyPerson" id="field_code" class="form-control" placeholder="Nhập số lượng" >
                                    <small *ngIf="formJob.controls.qtyPerson.errors?.required && formJob.get('qtyPerson').touched" class="text-danger">Không được để trống</small>
                                </div>
                            </div>
                            <div class="form-group col-sm-6 ml-3 mt-3 pb-0 row">
                                <label for="field_unit" class="form-control-label col-sm-3">Level</label>
                                <div class="col-sm-9">
                                    <select formControlName="rankId" id="field_unit" class="form-control">
                                        <option value="">Chọn level </option>
                                        <option *ngFor="let r of rank" [ngValue]="r.id">{{r.code}}</option>
                                    </select>
                                    <small *ngIf="formJob.controls.rankId.errors?.required && formJob.get('rankId').touched" class="text-danger">Không được để trống</small>
                                </div>
                            </div>
                            <div class="form-group col-sm-6 mt-3 pb-0 row">
                                <label for="field_code" class="form-control-label col-sm-3">Hạn nộp hồ sơ </label>
                                <div class="col-sm-9">
                                    <input formControlName="dueDate" type="date" class="form-control" >
                                    <small  *ngIf="formJob.controls.dueDate.errors?.required && formJob.get('dueDate').touched" class="text-danger">Không được để trống</small>
                                </div>
                            </div>
                            <div class="form-group col-sm-6 ml-3 mt-3 pb-0 row">
                                <label for="field_unit" class="form-control-label col-sm-3">Người liên hệ</label>
                                <div class="col-sm-9">
                                    <select formControlName="userContactId" id="field_unit" class="form-control">
                                        <option value="">Chọn người liên hệ</option>
                                        <option *ngFor="let uc of userContact"  [ngValue]="uc.id">{{uc.userName}}</option>
                                    </select>
                                    <small *ngIf="formJob.controls.rankId.errors?.required && formJob.get('userContactId').touched" class="text-danger">Không được để trống</small>
                                </div>
                            </div>
                            <div class="form-group col-sm-6 mt-3 pb-0 row">
                                <label for="field_code" class="form-control-label col-sm-3">Kĩ năng </label>
                                <div class="col-sm-9">
                                    <input type="text" maxlength="255" formControlName="skills" id="field_code" class="form-control" placeholder="Nhập kĩ năng" >
                                    <small *ngIf="formJob.controls.skills.errors?.required && formJob.get('skills').touched" class="text-danger">Không được để trống</small>
                                </div>
                            </div>
                            <div class="form-group col-sm-6 mt-3 pb-0 ml-3 row">
                                <label for="field_code" class="form-control-label col-sm-3">Ngày bắt đầu </label>
                                <div class="col-sm-9">
                                    <input formControlName="startDate" type="date" class="form-control" >
                                    <small  *ngIf="formJob.controls.startDate.errors?.required && formJob.get('startDate').touched" class="text-danger">Không được để trống</small>
                                </div>
                            </div>
                            <div class="form-group col-sm-6 mt-3 pb-0 row">
                                <label for="field_code" class="form-control-label col-sm-3">Mức lương tối thiểu </label>
                                <div class="col-sm-9">
                                    <input type="text" maxlength="255" formControlName="salaryMin" id="field_code" class="form-control" placeholder="Nhập mức lương" >
                                    <small *ngIf="formJob.controls.salaryMin.errors?.required && formJob.get('salaryMin').touched" class="text-danger">Không được để trống</small>
                                </div>
                            </div>
                            <div class="form-group col-sm-6 mt-3 ml-3 pb-0 row">
                                <label for="field_code" class="form-control-label col-sm-3">Mức lương tối đa </label>
                                <div class="col-sm-9">
                                    <input type="text" maxlength="255" formControlName="salaryMax"  id="field_code" class="form-control" placeholder="Nhập mức lương" >
                                    <small *ngIf="formJob.controls.salaryMax.errors?.required && formJob.get('salaryMax').touched" class="text-danger">Không được để trống</small>
                                </div>
                            </div>
                            <div class="form-group col-sm-12 pb-0 mt-3 row justify-content-end">
                                <label for="field_slip" class="form-control-label col-sm-1" style="margin-right: 3.1rem;" >Mô tả công việc </label>
                                <div class="col-sm-10" style="flex: 0 0 87.83333333%; max-width: 87.83333333%;">
                                    <textarea type="text" maxlength="1000" formControlName="description" id="field_slip" class="form-control area ng-pristine ng-valid" placeholder="Nhập mô tả"></textarea>
                                    <small *ngIf="formJob.controls.description.errors?.required && formJob.get('description').touched" class="text-danger">Không được để trống</small>
                                </div>
                            </div>
                            <div class="form-group col-sm-12 pb-0 mt-3 row justify-content-end">
                                <label for="field_slip" class="form-control-label col-sm-1" style="margin-right: 3.1rem;" >Yêu cầu công việc </label>
                                <div class="col-sm-10" style="flex: 0 0 87.83333333%; max-width: 87.83333333%;">
                                    <textarea type="text" maxlength="1000" formControlName="jobRequirement" id="field_slip" class="form-control area ng-pristine ng-valid" placeholder="Nhập yêu cầu"></textarea>
                                    <small *ngIf="formJob.controls.jobRequirement.errors?.required && formJob.get('jobRequirement').touched" class="text-danger">Không được để trống</small>
                                </div>
                            </div>
                            <div class="form-group col-sm-12 pb-0 mt-3 row justify-content-end">
                                <label for="field_slip" class="form-control-label col-sm-1" style="margin-right: 3.1rem;" >Quyền lợi được hưởng </label>
                                <div class="col-sm-10" style="flex: 0 0 87.83333333%; max-width: 87.83333333%;">
                                    <textarea type="text" maxlength="1000"  formControlName="interrest" id="field_slip" class="form-control area ng-pristine ng-valid" placeholder="Nhập quyền lợi"></textarea>
                                    <small *ngIf="formJob.controls.interrest.errors?.required && formJob.get('interrest').touched" class="text-danger">Không được để trống</small>
                                </div>
                            </div>
                            <div class="form-group col-sm-6  mt-3 pb-0 row">
                                <label for="field_unit" class="form-control-label col-sm-3">Công ty</label>
                                <div class="col-sm-9">
                                    <select formControlName="companyId" id="field_unit" class="form-control">
                                        <option value="">Chọn công ty </option>
                                        <option *ngFor="let c of companies" [ngValue]="c.id">{{c.name}}</option>
                                    </select>
                                    <small *ngIf="formJob.controls.companyId.errors?.required && formJob.get('companyId').touched" class="text-danger">Không được để trống</small>
                                </div>
                            </div>
                        </div>
    
                        <div class="text-center pt-2">
                            <!-- <button style="background-color: #ea0606; " type="button" id="save-entity" class="btn btn-primary" >
                                &nbsp;  <i class="fas fa-plus-circle text-light"></i> <span></span>
                            </button> -->
                            <button (click)="onSubmit()"  [disabled]="!this.formJob.valid"  style="background-color: #ea0606; "  type="button" id="update-entity" class="btn btn-primary" >
                                <i class="fas fa-check-circle text-light"></i>&nbsp;<span>Lưu tin</span>
                            </button>
                            <button type="button" routerLink="/home/job" id="cancel-save" class="btn btn-secondary ml-2">
                                <i icon="times" class="ng-fa-icon" ></i>&nbsp;<span>Hủy</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    