<form [formGroup]="formSignup" action="">
  <div class="container">
    <h1>ĐĂNG KÝ</h1>
    <hr>
    <label><b>Tên người dùng</b></label>
    <input type="text" placeholder="Nhập tên người dùng" name="psw-repeat" formControlName="userName" required>
    <div class="alert-danger" *ngIf="!formSignup.get('userName').valid && formSignup.get('userName').touched">
      cakkk
    </div>

    <label><b>Email</b></label>
    <input type="text" placeholder="Nhập Email" name="email" formControlName="email" required>
    <div class="alert-danger" *ngIf="!formSignup.get('email').valid && formSignup.get('email').touched">
      Vui lòng nhập một địa chỉ email hợp lệ
    </div>

    <label><b>Mật Khẩu</b></label>
    <input type="password" placeholder="Nhập Mật Khẩu" name="psw" formControlName="newPassword" required>
    <div class="alert-danger" *ngIf="!formSignup.get('newPassword').valid && formSignup.get('newPassword').touched">
      Vui lòng nhập một địa chỉ email hợp lệ
    </div>
    <label><b>Nhập Lại Mật Khẩu</b></label>
    <input type="password" placeholder="Nhập Lại Mật Khẩu" name="psw-repeat" formControlName="password" required>
    <div class="alert-danger" *ngIf="!formSignup.get('password').valid && formSignup.get('password').touched">
      Vui lòng nhập một địa chỉ email hợp lệ
    </div>
    <label><b>Số điện thoại</b></label>
    <input type="text" placeholder="Nhập số điện thoại" name="psw-repeat" formControlName="phoneNumber" required>
    <div class="alert-danger" *ngIf="!formSignup.get('phoneNumber').valid && formSignup.get('phoneNumber').touched">
      Dinh dang 84
    </div>

    <label><b>Ngày sinh</b></label>
    <input type="date" placeholder="Nhập ngày sinh" name="psw-repeat" formControlName="birthDay" required>

    <div class="clearfix">
      <button type="submit" class="btn btn-success" (click)="signup()" [disabled]="!formSignup.valid">Đăng ký</button>
    </div>
  </div>
</form>
