<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">User Management System</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <button
          class="btn btn-outline-success"
          data-bs-toggle="modal"
          data-bs-target="#addEmployee"
          type="submit"
          (click)="toFormAddUser()"
        >
          Add Employee
        </button>
      </div>
    </div>
  </nav>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NAME</th>
        <th scope="col">USER</th>
        <th scope="col">EMAIL</th>
        <th scope="col">PHONE</th>
        <!-- <th scope="col">HomeTown</th>
        <th scope="col">Gender</th>
        <th scope="col">BirthDay</th> -->
        <th scope="col">ACTIVE</th>
        <th scope="col">DELETE</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.userName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phoneNumber }}</td>
        <!-- <td>{{ user.homeTown }}</td>
        <td>{{ user.gender }}</td>
        <td>{{ user.birtDay }}</td>  -->
        <td>{{ user.active }}</td>
        <td>{{ user.delete }}</td>
        <td>
          <button
            type="button"
            class="btn btn-outline-primary me-2"
            data-bs-toggle="modal"
            data-bs-target="#editEmployee"
            (click)="editUser(user)"
          >
            Edit
          </button>
          <button
            type="button"
            class="btn btn-outline-danger"
            (click)="deactivateUser(user.id)"
          >
            Deactivate
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Add Users modal -->
  <div
    class="modal fade"
    id="addEmployee"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add new User</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="userDetail">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Name </label>
              <input
                type="text"
                formControlName="name"
                class="form-control"
                id="name"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email </label>
              <input
                type="email"
                formControlName="email"
                class="form-control"
                id="email"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-primary"
                data-bs-dismiss="modal"
                (click)="addUserToData()"
              >
                Add employee
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit employee modal -->
  
</div>
