<h1>Thông tin cá nhân</h1>
<p-card>
    <form [formGroup]="formProfile">
        <input type="hidden" pInputText class="form-control" formControlName="id">
        <div class="container">
            <div class="justify-content-center">
                <div class="row">
                    <div class="col">
                        <img  [src]="dbImage" alt="Avatar"
                        style="width:200px; object-fit: cover; height: 200px; border-radius: 50%;  margin: 0 auto; margin-bottom: 20px;margin-left: 40%; cursor: pointer;">
                    </div>
                </div>
                <div class="row">
                        <input type="file"  accept="image/*" class="mt-5 custom-file-input" style="color: black;" id="importFile" (change)="onSelect($event.target.files)">
                        <label  #labelImport for="importFile" style="color: black; cursor: pointer;"><i class="fas fa-image"></i> Cập nhật ảnh đại diện</label>
                        <input type="hidden" formControlName="avatarName"> 
                </div>
            </div>
            
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <div class="row">
                    <label class="label col-3 col-form-label ">Họ và Tên</label>
                    <div class="col-9">
                        <input type="text" pInputText class="form-control" formControlName="name">
                        <mat-error *ngIf="formProfile.controls.name.errors?.required && formJob.get('name').touched">Không được để trống</mat-error>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="row">
                    <label class="labeol-3 col cl-form-label">Email</label>
                    <div class="col-9">
                        <input type="text" pInputText class="form-control" formControlName="email">
                        <mat-error *ngIf="formProfile.controls.email.errors?.required && formProfile.get('email').touched">Không được để trống</mat-error>
                        <mat-error *ngIf="formProfile.controls.email.errors?.email && formProfile.get('email').touched">Nhập sai định dạng email</mat-error>
                    </div>
                </div>

            </div>
        </div>
        <div class="form-row" style="margin-bottom: 20px;">
            <div class="col-md-6">
                <div class="row">
                    <label class="label col-3 col-form-label">Số điện thoại</label>
                    <div class="col-9">
                        <input type="text" pInputText class="form-control" formControlName="phoneNumber">
                        <mat-error *ngIf="formProfile.controls.phoneNumber.errors?.required && formProfile.get('phoneNumber').touched">Không được để trống</mat-error>
                        <mat-error *ngIf="formProfile.controls.phoneNumber.errors?.pattern && formProfile.get('phoneNumber').touched">Nhập sai định dạng</mat-error>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="row">
                    <label class="label col-3 col-form-label">Ngày sinh</label>
                    <div class="col-9">
                        <p-calendar formControlName="birthDay" [touchUI]="true" [showIcon]="true" [maxDate]="currentDate" ></p-calendar>
                        <mat-error *ngIf="formProfile.controls.birthDay.errors?.required && formProfile.get('birthDay').touched">Không được để trống</mat-error>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <div class="row">
                    <label class="label col-3 col-form-label">Quê quán</label>
                    <div class="col-9">
                        <input type="text" pInputText class="form-control" formControlName="homeTown">
                        <mat-error *ngIf="formProfile.controls.homeTown.errors?.required && formProfile.get('homeTown').touched">Không được để trống</mat-error>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <label class="label col-sm-3 col-form-label">Giới tính</label>
                    <div class="col-sm-9">
                        <select  class="form-control" formControlName="gender">
                            <option value="Nam" >Nam</option>
                            <option value="Nữ">Nữ</option>
                            <option value="Khác">Khác</option>
                        </select>
                    </div>
                </div>

            </div>
        </div>
        <button  class="btn btn-success mt-3 text-center" type="button" (click)="onSubmit()" [disabled]="!formProfile.valid">Cập nhật</button>
    </form>
</p-card>
