<div class="container-fluid">
  <button
    class="btn btn-outline-success"
    data-bs-toggle="modal"
    data-bs-target="#addUser"
    type="submit"
  >
    Add User
  </button>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">USER NAME</th>
        <th scope="col">PASSWORD</th>
        <th scope="col">EMAIL</th>
        <th scope="col">PHONE</th>
        <th scope="col">ACTIVE</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList">
        <td>{{ user.userName }}</td>
        <td>{{ user.password }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phoneNumber }}</td>
        <td>{{ user.active }}</td>
        <td>
          <button
            type="button"
            class="btn btn-outline-primary me-2"
            data-bs-toggle="modal"
            data-bs-target="#editUser"
            (click)="editUser(user)"
            style="margin-right: 4px"
          >
            Edit
          </button>
          <button
            type="button"
            class="btn btn-outline-danger"
            data-bs-toggle="modal"
            data-bs-target="#deactivateUser"
            (click)="deactivateUser(user.id)"
          >
            Deactivate
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Deactivate User -->
  <div
    class="modal fade"
    id="deactivateUser"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLabel">Deactivate User</h2>
        </div>
      </div>
    </div>
  </div>

    <!-- Add Users modal -->
    <div
      class="modal fade"
      id="addUser"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLabel">Add New User</h2>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="userDetail">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                  >Họ và tên
                </label>
                <input
                  type="text"
                  formControlName="name"
                  class="form-control"
                  id="name"
                  aria-describedby="emailHelp"
                />
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                  >Email
                </label>
                <input
                  type="email"
                  formControlName="email"
                  class="form-control"
                  id="email"
                  aria-describedby="emailHelp"
                />
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                  >Phone
                </label>
                <input
                  type="text"
                  formControlName="phoneNumber"
                  class="form-control"
                  id="phoneNumber"
                  aria-describedby="emailHelp"
                />
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                  >User name
                </label>
                <input
                  type="text"
                  formControlName="userName"
                  class="form-control"
                  id="userName"
                  aria-describedby="emailHelp"
                />
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                  >Password
                </label>
                <input
                  type="text"
                  formControlName="password"
                  class="form-control"
                  id="password"
                  aria-describedby="emailHelp"
                />
              </div>
              <!-- <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">
                  Confirm password
                </label>
                <input
                  type="text"
                  formControlName="confirmPassword"
                  class="form-control"
                  id="confirmPassword"
                  aria-describedby="emailHelp"
                />
              </div> -->
              <!-- <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">
                  Active</label
                >
                <input
                  type="text"
                  formControlName="active"
                  class="form-control"
                  id="active"
                  aria-describedby="emailHelp"
                />
              </div> -->

              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-dismiss="modal"
                  (click)="addUser()"
                >
                  Add User
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Edit User modal -->
    <div
      class="modal fade"
      id="editUser"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Edit User Details
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="userDetail">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                  >Họ và tên
                </label>
                <input
                  type="text"
                  formControlName="name"
                  class="form-control"
                  id="name"
                  aria-describedby="emailHelp"
                />
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                  >Email
                </label>
                <input
                  type="email"
                  formControlName="email"
                  class="form-control"
                  id="email"
                  aria-describedby="emailHelp"
                />
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                  >Phone
                </label>
                <input
                  type="text"
                  formControlName="phoneNumber"
                  class="form-control"
                  id="phoneNumber"
                  aria-describedby="emailHelp"
                />
              </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                  >User name
                </label>
                <input
                  type="text"
                  formControlName="userName"
                  class="form-control"
                  id="userName"
                  aria-describedby="emailHelp"
                />
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Close
                </button>
                <button
                  type="button"
                  class="btn btn-outline-success"
                  (click)="updateUser()"
                  data-bs-dismiss="modal"
                >
                  Update
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
