<div class="container-fluid">
  <!-- <div class="input-group rounded">
    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
    <span class="input-group-text border-0" id="search-addon">
      <i class="fas fa-search"></i>
    </span>
  </div> -->
  <div class="dropdown" style="position: relative">
    <button
      class="btn btn-outline-success"
      data-bs-toggle="modal"
      data-bs-target="#addUser"
      type="submit"
    >
      Add User
    </button>
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
      style="margin-left: 40px"
    >
      Sort
    </button>
    <!-- <div
      class="position-absolute top-0 start-100 translate-middle"
      class="input-group rounded"
      style="position: absolute"
    >
      <input
        type="search"
        class="form-control rounded"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="search-addon"
      />
      <span class="input-group-text border-0" id="search-addon">
        <i (click)="seach()"  class="fas fa-search"></i>
      </span>
    </div> -->
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li>
        <a class="dropdown-item" (click)="sortIdMinToMax()">ID tăng dần</a>
      </li>
      <li>
        <a class="dropdown-item" (click)="sortIdMaxToMin()">ID tăng giảm dần</a>
      </li>
      <li><a class="dropdown-item" (click)="sortUser()">User name</a></li>
      <li><a class="dropdown-item" (click)="sortPhone()">Phone</a></li>
    </ul>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">USER NAME</th>
        <!-- <th scope="col">PASSWORD</th> -->
        <th scope="col">EMAIL</th>
        <th scope="col">PHONE</th>
        <!-- <th scope="col">ACTIVE</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList">
        <td>{{ user.id }}</td>
        <td>{{ user.userName }}</td>
        <!-- <td>{{ user.passwoed }}</td> -->
        <td>{{ user.email }}</td>
        <td>{{ user.phoneNumber }}</td>
        <!-- <td>{{ user.active }}</td> -->
        <td>
          <button
            type="button"
            class="btn btn-outline-primary me-2"
            data-bs-toggle="modal"
            (click)="editUser(user)"
            data-bs-target="#editUser"
            style="margin-right: 4px"
          >
            Edit
          </button>
          <button
            type="button"
            class="btn btn-outline-danger"
            data-bs-toggle="modal"
            (click)="deactivateUser(user.id, user.userName)"
            data-bs-target="#notification"
          >
            Deactivate
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>

      <li *ngFor="let n of pageNumber" class="page-item">
        <a class="page-link" (click)="setPage(n)">{{ n }}</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
  <!-- notification -->
  <div
    class="modal fade"
    id="notification"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" class="text-center">
          <h1 class="modal-title" id="exampleModalLabel" style="margin: auto">
            {{this.message}}
          </h1>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Users modal -->
  <div
    class="modal fade"
    id="addUser"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLabel">Add New User</h2>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="userDetail">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >Họ và tên
              </label>
              <input
                type="text"
                formControlName="name"
                class="form-control"
                id="name"
                name="name"
                aria-describedby="emailHelp"
              />
              <br />
              <mat-error
                class="alert-danger"
                *ngIf="
                  userDetail.controls.name.errors?.required &&
                  userDetail.touched
                "
              >
                Không được để trống họ và tên
              </mat-error>
              <mat-error
                class="alert-danger"
                *ngIf="
                  userDetail.controls.name.errors?.minlength &&
                  userDetail.touched
                "
              >
                Họ và tên phải trên 5 ký tự
              </mat-error>
              <mat-error
                class="alert-danger"
                *ngIf="
                  userDetail.controls.name.errors?.maxlength &&
                  userDetail.touched
                "
              >
                Họ và tên không quá 20 ký tự
              </mat-error>
            </div>

            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email </label>
              <input
                type="email"
                formControlName="email"
                class="form-control"
                id="email"
                name="email"
                aria-describedby="emailHelp"
              />
              <br />
              <div *ngIf="message == 'NO_CONTENT'" class="alert-danger">
                Email đã tồn tại
              </div>
              <div
                class="alert-danger"
                *ngIf="
                  !userDetail.get('email').valid &&
                  userDetail.get('email').touched
                "
              >
                Email không hợp lệ
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Phone </label>
              <input
                type="text"
                formControlName="phoneNumber"
                class="form-control"
                id="phoneNumber"
                name="phoneNumber"
                aria-describedby="emailHelp"
              />
              <br />
              <div
                class="alert-danger"
                *ngIf="
                  !userDetail.get('phoneNumber').valid &&
                  userDetail.get('phoneNumber').touched
                "
              >
                Số điện thoại không hợp lệ
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >User name
              </label>
              <input
                type="text"
                formControlName="userName"
                class="form-control"
                id="userName"
                name="userName"
                aria-describedby="emailHelp"
              />
              <br />
              <div *ngIf="message == 'NOT_FOUND'" class="alert-danger">
                Tài khoản đã tồn tại
              </div>
              <mat-error
                class="alert-danger"
                *ngIf="
                  userDetail.controls.userName.errors?.required &&
                  userDetail.touched
                "
              >
                Không được để trống tài khoản
              </mat-error>
              <mat-error
                class="alert-danger"
                *ngIf="
                  userDetail.controls.userName.errors?.minlength &&
                  userDetail.touched
                "
              >
                Tài khoản phải trên 5 ký tự
              </mat-error>
              <mat-error
                class="alert-danger"
                *ngIf="
                  userDetail.controls.userName.errors?.maxlength &&
                  userDetail.touched
                "
              >
                Tài khoản không quá 20 ký tự
              </mat-error>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >Password
              </label>
              <input
                type="password"
                formControlName="password"
                class="form-control"
                id="password"
                name="password"
                aria-describedby="emailHelp"
              />
              <br />
              <div
                class="alert-danger"
                *ngIf="
                  !userDetail.get('password').valid &&
                  userDetail.get('password').touched
                "
              >
                Vui lòng nhập mật khẩu có 8 - 16 kí tự và có ít nhất 1 chữ và 1
                kí tự đặc biệt
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">
                Confirm password
              </label>
              <input
                type="password"
                formControlName="confirmPassword"
                class="form-control"
                id="confirmPassword"
                aria-describedby="emailHelp"
              />
              <br />
              <div
                class="alert-danger"
                *ngIf="
                  userDetail.controls.password.value !==
                    userDetail.controls.confirmPassword.value &&
                  userDetail.get('confirmPassword').touched
                "
              >
                Mật khẩu không trùng khớp
              </div>
            </div>
            <!-- <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">
                  Active</label
                >
                <input
                  type="text"
                  formControlName="active"
                  class="form-control"
                  id="active"
                  aria-describedby="emailHelp"
                />
              </div> -->

            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-primary"
                data-bs-dismiss="modal"
                (click)="addUser()"
              >
                Add User
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  

  <!-- Edit User modal -->
  <div
    class="modal fade"
    id="editUser"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLabel">Edit User Details</h2>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="userDetail">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >ID (không thể thay đổi)
              </label>
              <input
                type="id"
                formControlName="id"
                class="form-control"
                id="id"
                name="id"
                aria-describedby="emailHelp"
              />
              <br />
              <div
                *ngIf="
                  userDetail.controls.password.value !==
                  userDetail.controls.password.value
                "
              >
                ID không thể thay đổi
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >Họ và tên
              </label>
              <input
                type="text"
                formControlName="name"
                class="form-control"
                id="name"
                name="name"
                aria-describedby="emailHelp"
              />
              <br />
              <mat-error
                class="alert-danger"
                *ngIf="
                  userDetail.controls.name.errors?.required &&
                  userDetail.touched
                "
              >
                Không được để trống họ và tên
              </mat-error>
              <mat-error
                class="alert-danger"
                *ngIf="
                  userDetail.controls.name.errors?.minlength &&
                  userDetail.touched
                "
              >
                Họ và tên phải trên 5 ký tự
              </mat-error>
              <mat-error
                class="alert-danger"
                *ngIf="
                  userDetail.controls.name.errors?.maxlength &&
                  userDetail.touched
                "
              >
                Họ và tên không quá 20 ký tự
              </mat-error>
            </div>

            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email </label>
              <input
                type="email"
                formControlName="email"
                class="form-control"
                id="email"
                name="email"
                aria-describedby="emailHelp"
              />
              <br />
              <div *ngIf="message == 'NO_CONTENT'" class="alert-danger">
                Email đã tồn tại
              </div>
              <div
                class="alert-danger"
                *ngIf="
                  !userDetail.get('email').valid &&
                  userDetail.get('email').touched
                "
              >
                Email không hợp lệ
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Phone </label>
              <input
                type="text"
                formControlName="phoneNumber"
                class="form-control"
                id="phoneNumber"
                name="phoneNumber"
                aria-describedby="emailHelp"
              />
              <br />
              <div
                class="alert-danger"
                *ngIf="
                  !userDetail.get('phoneNumber').valid &&
                  userDetail.get('phoneNumber').touched
                "
              >
                Số điện thoại không hợp lệ
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >User name
              </label>
              <input
                type="text"
                formControlName="userName"
                class="form-control"
                id="userName"
                name="userName"
                aria-describedby="emailHelp"
              />
              <br />
              <div *ngIf="message == 'NOT_FOUND'" class="alert-danger">
                Tài khoản đã tồn tại
              </div>
              <mat-error
                class="alert-danger"
                *ngIf="
                  userDetail.controls.userName.errors?.required &&
                  userDetail.touched
                "
              >
                Không được để trống tài khoản
              </mat-error>
              <mat-error
                class="alert-danger"
                *ngIf="
                  userDetail.controls.userName.errors?.minlength &&
                  userDetail.touched
                "
              >
                Tài khoản phải trên 5 ký tự
              </mat-error>
              <mat-error
                class="alert-danger"
                *ngIf="
                  userDetail.controls.userName.errors?.maxlength &&
                  userDetail.touched
                "
              >
                Tài khoản không quá 20 ký tự
              </mat-error>
            </div>
            <!-- <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >Password
              </label>
              <input
                type="password"
                formControlName="password"
                class="form-control"
                id="password"
                name="password"
                aria-describedby="emailHelp"
              />
              <br />
              <div
                class="alert-danger"
                *ngIf="
                  !userDetail.get('password').valid &&
                  userDetail.get('password').touched
                "
              >
                Vui lòng nhập mật khẩu có 8 - 16 kí tự và có ít nhất 1 chữ và 1
                kí tự đặc biệt
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">
                Confirm password
              </label>
              <input
                type="password"
                formControlName="confirmPassword"
                class="form-control"
                id="confirmPassword"
                aria-describedby="emailHelp"
              />
              <br />
              <div
                class="alert-danger"
                *ngIf="
                  userDetail.controls.password.value !==
                    userDetail.controls.confirmPassword.value &&
                  userDetail.get('confirmPassword').touched
                "
              >
                Mật khẩu không trùng khớp
              </div>
            </div> -->
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                id="GFG_Button"
                class="btn btn-outline-success"
                (click)="updateUser()"
                data-bs-dismiss="modal"
              >
                Update
              </button>
              <!-- enter button -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
