<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container">
    <div class="row gy-5 gx-4">
      <div class="col-lg-8">
        <div class="">
          <h2 class="mb-4" style="text-align: center">Apply For The Job</h2>
          <form>
            <div class="row g-3">
              <div class="col-12 col-sm-6">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Số điện thoại"
                />
              </div>
              <div class="col-12 col-sm-6">
                <input
                  type="email"
                  class="form-control"
                  placeholder="Email"
                />
              </div>
              <div class="col-12 col-sm-6">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nơi ở hiện tại?"
                />
              </div>
              <div class="col-12 col-sm-6">
                <input type="file" class="form-control bg-white" />
              </div>
              <div class="col-12">
                <textarea
                  class="form-control"
                  rows="5"
                  placeholder="Viết giới thiệu ngắn gọn về bản thân (điểm mạnh, điểm yếu) và nêu rõ mong muốn, lý do làm việc tại công ty này. Đây là cách gây ấn tượng với nhà tuyển dụng nếu bạn có chưa có kinh nghiệm làm việc (hoặc CV không tốt)."
                ></textarea>
              </div>
              <div class="col-12">
                <button class="btn btn-primary w-100" type="submit">
                  Apply Now
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-lg-4">
        <div
          class="bg-light rounded p-5 mb-4 wow slideInUp"
          data-wow-delay="0.1s"
        >
          <h4 class="mb-4">Job Summery</h4>
          <p>
            <i class="fa fa-angle-right text-primary me-2"></i>Published On: 01
            Jan, 2045
          </p>
          <p>
            <i class="fa fa-angle-right text-primary me-2"></i>Vacancy: 123
            Position
          </p>
          <p>
            <i class="fa fa-angle-right text-primary me-2"></i>Job Nature: Full
            Time
          </p>
          <p>
            <i class="fa fa-angle-right text-primary me-2"></i>Salary: $123 -
            $456
          </p>
          <p>
            <i class="fa fa-angle-right text-primary me-2"></i>Location: New
            York, USA
          </p>
          <p class="m-0">
            <i class="fa fa-angle-right text-primary me-2"></i>Date Line: 01
            Jan, 2045
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
