<div class="container padding-bottom-3x mb-2 mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
      <div class="forgot">
        <h2>Đổi mật khẩu</h2>
        <p>Nhập đúng mã OTP đã được gửi đến email của bạn</p>
      </div>
      <form [formGroup]="formPass" class="card mt-4">
        <div class="card-body">
          <div class="form-group">
            <label for="email-for-pass">Nhập mã OTP</label>
            <input class="form-control" formControlName="code" type="text" id="email-for-pass">
            <mat-error *ngIf="!formPass.get('code').valid && formPass.get('code').touched">Mã OTP phải bao gồm 5 chữ số
            </mat-error>
            <mat-error *ngIf="message=='NOT_FOUND'">Mã otp không chính xác</mat-error>
            <mat-error *ngIf="message=='REQUEST_TIMEOUT'">Mã otp đã hết hạn</mat-error>
          </div>

          <div class="form-group">
            <label for="password">Nhập mật khẩu mới</label>
            <input mdbInput mdbValidate class="form-control" id="password" formControlName="password" type="password"
              id="email-for-pass">
            <mat-error *ngIf="!formPass.get('password').valid && formPass.get('password').touched">
              Mật khẩu phải ít nhất 8 kí tự bao gồm chữ số và ký tự</mat-error>

          </div>
          <div class="form-group">
            <label for="email-for-pass">Nhập lại mật khẩu</label>
            <input mdbInput mdbValidate class="form-control" formControlName="repeatPassword" type="password"
              id="email-for-pass">
            <mat-error
              *ngIf="formPass.controls.password.value !== formPass.controls.repeatPassword.value && formPass.get('repeatPassword').touched">
              Mật khẩu không trùng</mat-error>
          </div>

        </div>
        <div class="card-footer">
          <button class="{{disableClick}}" class="btn btn-success" type="button" (click)="onSubmit()"
            [disabled]="!formPass.valid || formPass.controls.password.value !== formPass.controls.repeatPassword.value ">Submit</button>
          <button class="btn btn-danger ml-3" type="submit">Back to Login</button>
        </div>
      </form>
    </div>
  </div>
</div>