<div class="forgot">
  <h2 class="text-center">Đổi mật khẩu</h2>
</div>
<form [formGroup]="changeThePassw" class="card mt-4">
  <div class="card-body">
    <div class="form-group">
      <label for="email-for-pass">Mật khẩu hiện tại</label>
      <input
        mdbInput
        mdbValidate
        class="form-control"
        id="password"
        formControlName="password"
        type="password"
        id="email-for-pass"
      />
      <mat-error
        *ngIf="
          !changeThePassw.get('password').valid &&
          changeThePassw.get('password').touched
        "
      >
        Mật khẩu phải ít nhất 8 kí tự bao gồm chữ số và ký tự</mat-error
      >
    </div>

    <div class="form-group">
      <label for="password">Mật khẩu mới</label>
      <input
        mdbInput
        mdbValidate
        class="form-control"
        id="newPassword"
        formControlName="newPassword"
        type="password"
        id="email-for-pass"
      />
      <mat-error
        *ngIf="
          !changeThePassw.get('newPassword').valid &&
          changeThePassw.get('newPassword').touched
        "
      >
        Mật khẩu phải ít nhất 8 kí tự bao gồm chữ số và ký tự</mat-error
      >
    </div>
    <div class="form-group">
      <label for="email-for-pass">Nhập lại mật khẩu mới</label>
      <input
        mdbInput
        mdbValidate
        class="form-control"
        id="confirmNewPassword"
        formControlName="confirmNewPassword"
        type="password"
        id="email-for-pass"
      />
      <mat-error
        *ngIf="
          changeThePassw.controls.confirmNewPassword.value !==
            changeThePassw.controls.confirmNewPassword.value &&
          changeThePassw.get('confirmNewPassword').touched
        "
      >
        Mật khẩu không trùng</mat-error
      >
    </div>
  </div>
  <div class="card-footer">
    <button
      class="btn btn-success"
      data-bs-toggle="modal"
      data-bs-target="#notification"
      type="button"
      (click)="changeThePass()"
    >
      Submit
    </button>
    <button class="btn btn-danger ml-3" type="submit">Clear</button>
  </div>
</form>

<div
  class="modal fade"
  id="notification"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" class="text-center">
        <h1 class="modal-title" id="exampleModalLabel" style="margin: auto">
          {{ this.message }}
        </h1>
      </div>
    </div>
  </div>
</div>
