<div class="forgot">
  <h2 class="text-center">Đổi mật khẩu</h2>
</div>
<form class="card mt-4">
  <div class="card-body">
    <div class="form-group">
      <label for="email-for-pass">Mật khẩu hiện tại</label>
      <input
        class="form-control"
        type="text"
        id="email-for-pass"
      />
      <!-- <mat-error
        *ngIf="!formPass.get('code').valid && formPass.get('code').touched"
        >Mã OTP phải bao gồm 5 chữ số
      </mat-error>
      <mat-error *ngIf="message == 'NOT_FOUND'"
        >Mã otp không chính xác</mat-error
      >
      <mat-error *ngIf="message == 'REQUEST_TIMEOUT'"
        >Mã otp đã hết hạn</mat-error
      > -->
    </div>

    <div class="form-group">
      <label for="password">Mật khẩu mới</label>
      <input
        mdbInput
        mdbValidate
        class="form-control"
        id="password"
        type="password"
        id="email-for-pass"
      />
      <!-- <mat-error
        *ngIf="
          !formPass.get('password').valid && formPass.get('password').touched
        "
      >
        Mật khẩu phải ít nhất 8 kí tự bao gồm chữ số và ký tự</mat-error
      > -->
    </div>
    <div class="form-group">
      <label for="email-for-pass">Nhập lại mật khẩu mới</label>
      <input
        mdbInput
        mdbValidate
        class="form-control"
        type="password"
        id="email-for-pass"
      />
      <!-- <mat-error
        *ngIf="
          formPass.controls.password.value !==
            formPass.controls.repeatPassword.value &&
          formPass.get('repeatPassword').touched
        "
      >
        Mật khẩu không trùng</mat-error
      > -->
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-success" type="button">Submit</button>
    <button class="btn btn-danger ml-3" type="submit">Clear</button>
  </div>
</form>
