<div class="datetime">
    <span class="sp">Từ ngày</span>
    <input type="date" class="date" placeholder="Nhập ngày sinh" name="psw-repeat" formControlName="" required>
    <span class="sp">Đến ngày</span>
    <input type="date" class="date" placeholder="Nhập ngày sinh" name="psw-repeat" formControlName="" required>
</div>
<div class="fix-column">
    <div class="fix-card">
        <mat-card>Tổng số việc đã đăng tuyển: 5 </mat-card>
        <mat-card>Tổng số ứng viên ứng tuyển: 10 </mat-card>
        <mat-card>Tổng số lượt xem job: 10</mat-card>
        <mat-card>Tổng số hồ sơ chờ phỏng vấn: 4</mat-card>
    </div>

    <div class="fix-card">
        <mat-card>Tổng số hồ sơ đang phỏng vấn : 12</mat-card>
        <mat-card>Tổng số ứng viên đã tuyển thành công: 11</mat-card>
        <mat-card>Tổng số ứng viên đã (bị) từ chối: 4</mat-card>
        <mat-card>Tổng số job chưa hoàn thiện : 3</mat-card>
    </div>
</div>
