<h1>Cập nhật</h1>
    <form class="pb-5" [formGroup]="formJob">
        <input type="hidden"  formControlName="id">
        <div class="form-row mb-3">
            <div class="form-group col-md-6">
                <div class="row">
                    <label class="label col-4 col-form-label ">Tên công việc</label>
                    <div class="col-8">
                        <input type="text" pInputText class="form-control" formControlName="name">
                        <mat-error *ngIf="formJob.controls.name.errors?.required && formJob.get('name').touched">Không được để trống</mat-error>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="row">
                    <label class="label col-4 col-form-label">Vị trí </label>
                    <div class="col-8">
                        <select class="form-control" formControlName="jobPositionId" [(ngModel)]="data.jobPosition.id"> 
                            <option *ngFor="let jp of jobPosition; let a = index;"
                            [ngValue]="jp.id" >
                            {{jp.code}}
                        </option>
                        </select>
                        <mat-error *ngIf="formJob.controls.jobPositionId.errors?.required && formJob.get('jobPositionId').touched">Không được để trống</mat-error>
                    </div>
                </div>

            </div>
        </div>
        <div class="form-row mb-3">
            <div class="col-md-6">
                <div class="row">
                    <label class="label col-4 col-form-label">Năm kinh nghiệm</label>
                    <div class="col-8">
                        <input type="text" pInputText class="form-control" formControlName="numberExperience">
                        <mat-error *ngIf="formJob.controls.numberExperience.errors?.required && formJob.get('numberExperience').touched">Không được để trống</mat-error>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <label class="label col-4 col-form-label">Hình thức</label>
                    <div class="col-8">
                        <select class="form-control" formControlName="workingFormId" [(ngModel)]="data.workingForm.id">
                            <option *ngFor="let wf of workingForm"  [ngValue]="wf.id" >{{wf.code}}</option>
                        </select>
                        <mat-error *ngIf="formJob.controls.workingFormId.errors?.required && formJob.get('workingFormId').touched">Không được để trống</mat-error>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row mb-3">
            <div class="col-md-6">
                <div class="row">
                    <label class="label col-4 col-form-label">Địa chỉ</label>
                    <div class="col-8">
                        <input type="text" pInputText class="form-control" formControlName="addressWork">
                        <mat-error *ngIf="formJob.controls.addressWork.errors?.required && formJob.get('addressWork').touched">Không được để trống</mat-error>
                    </div>
                </div>
            </div>  
            <div class="col-md-6">
                <div class="row">
                    <label class="label col-sm-4 col-form-label">Trình độ học vấn</label>
                    <div class="col-sm-8">
                        <select class="form-control" formControlName="academicLevelId" [(ngModel)]="data.academicLevel.id">
                            <option *ngFor="let al of academicLevel;" [ngValue]="al.id">{{al.code}}</option>
                        </select>
                        <mat-error *ngIf="formJob.controls.academicLevelId.errors?.required && formJob.get('academicLevelId').touched">Không được để trống</mat-error>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row mb-3">
            <div class="col-md-6">
                <div class="row">
                    <label class="label col-4 col-form-label">Số lượng cần tuyển</label>
                    <div class="col-8">
                        <input type="text" pInputText class="form-control" formControlName="qtyPerson">
                        <mat-error *ngIf="formJob.controls.qtyPerson.errors?.required && formJob.get('qtyPerson').touched">Không được để trống</mat-error>
                        <mat-error *ngIf="formJob.controls.qtyPerson.errors?.pattern && formJob.get('qtyPerson').touched">Chỉ nhập số</mat-error>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <label class="label col-sm-4 col-form-label">Level</label>
                    <div class="col-sm-8">
                        <select class="form-control" formControlName="rankId" [(ngModel)]="data.rank.id">
                            <option *ngFor="let r of rank;" [ngValue]="r.id" >{{r.code}}</option>
                        </select>
                        <mat-error *ngIf="formJob.controls.rankId.errors?.required && formJob.get('rankId').touched">Không được để trống</mat-error>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row mb-3">
            <div class="col-md-6">
                <div class="row">
                    <label class="label col-4 col-form-label">Hạn nộp hồ sơ</label>
                    <div class="col-8">
                        <!-- <input type="date" pInputText class="form-control" formControlName="dueDate"> -->
                        <p-calendar formControlName="dueDate" [touchUI]="true" [showIcon]="true" [minDate]="currentDate" ></p-calendar>
                        <mat-error *ngIf="formJob.controls.dueDate.errors?.required && formJob.get('dueDate').touched">Không được để trống</mat-error>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <label class="label col-sm-4 col-form-label">Người liên hệ</label>
                    <div class="col-8">
                        <select class="form-control" formControlName="userContactId" [(ngModel)]="data.userContact.id">
                            <option *ngFor="let uc of userContact" [ngValue]="uc.id">{{uc.userName}}</option>
                        </select>
                        <mat-error *ngIf="formJob.controls.userContactId.errors?.required && formJob.get('userContactId').touched">Không được để trống</mat-error>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row mb-3">
            <div class="col-md-6">
                <div class="row">
                    <label class="label col-sm-4 col-form-label">Kĩ năng</label>
                    <div class="col-8">
                        <textarea type="text" pInputText class="form-control" formControlName="skills"></textarea>
                        <mat-error *ngIf="formJob.controls.skills.errors?.required && formJob.get('skills').touched">Không được để trống</mat-error>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <label class="label col-sm-4 col-form-label">Ngày bắt đầu</label>
                    <div class="col-8">
                        <!-- <input type="date" pInputText class="form-control" formControlName="startDate" > -->
                        <p-calendar formControlName="startDate" [touchUI]="true" [showIcon]="true" [minDate]="currentDate" ></p-calendar>
                        <mat-error *ngIf="formJob.controls.startDate.errors?.required && formJob.get('startDate').touched">Không được để trống</mat-error>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row mb-3">
            <div class="col-md-6">
                <div class="row">
                    <label class="label col-sm-4 col-form-label">Quyền lợi được hưởng</label>
                    <div class="col-8">
                        <textarea type="text" pInputText class="form-control" formControlName="interrest"></textarea>
                        <mat-error *ngIf="formJob.controls.interrest.errors?.required && formJob.get('interrest').touched">Không được để trống</mat-error>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <label class="label col-4 col-form-label">Yêu cầu công việc</label>
                    <div class="col-8">
                            <textarea type="text" pInputText class="form-control" formControlName="jobRequirement"></textarea>
                            <mat-error *ngIf="formJob.controls.jobRequirement.errors?.required && formJob.get('jobRequirement').touched">Không được để trống</mat-error>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row mb-3">
            <div class="col-md-6">
                <div class="row">
                    <label class="label col-4 col-form-label">Mức lương tối thiểu</label>
                    <div class="col-8">
                        <input type="text" pInputText class="form-control" formControlName="salaryMin">
                        <mat-error *ngIf="formJob.controls.salaryMin.errors?.required && formJob.get('salaryMin').touched">Không được để trống</mat-error>
                        <mat-error *ngIf="formJob.controls.salaryMin.errors?.pattern && formJob.get('salaryMin').touched">Chỉ nhập số</mat-error>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <label class="label col-sm-4 col-form-label">Mức lương tối đa</label>
                    <div class="col-8">
                            <input type="text" pInputText class="form-control" formControlName="salaryMax">
                            <mat-error *ngIf="formJob.controls.salaryMax.errors?.required && formJob.get('salaryMax').touched">Không được để trống</mat-error>
                            <mat-error *ngIf="formJob.controls.salaryMax.errors?.pattern && formJob.get('salaryMax').touched">Chỉ nhập số</mat-error>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group mb-3"> 
                <div class="row">
                    <label class="label col-sm-2 col-form-label">Mô tả công việc</label>
                    <div class="col-sm-10">
                        <textarea type="text" pInputText class="form-control" formControlName="description"></textarea>
                        <mat-error *ngIf="formJob.controls.description.errors?.required && formJob.get('description').touched">Không được để trống</mat-error>
                    </div>
                </div>
        </div>
        <input type="hidden" formControlName="userCreate">
        <div class="card-footer">
            <button   class="btn btn-success mr-3"  (click)="onSubmit()"  [disabled]="!this.formJob.valid" type="button">Lưu tin</button>
            <button class="btn btn-primary"(click)="onClose()" type="button">Đóng</button>
        </div>
 </form>
   


