<div class="container padding-bottom-3x mb-2 mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
      <div class="forgot">
        <h2>Forgot your password?</h2>
        <p>
          Change your password in three easy steps. This will help you to secure
          your password!
        </p>
        <ol class="list-unstyled">
          <li>
            <span class="text-primary text-medium">1. </span>Enter your email
            address below.
          </li>
          <li>
            <span class="text-primary text-medium">2. </span>Our system will
            send you OTP
          </li>
          <li>
            <span class="text-primary text-medium">3. </span>Use the OTP to
            reset your password
          </li>
        </ol>
      </div>

      <form [formGroup]="formEmail" class="card mt-4">
        <div class="card-body">
          <div class="form-group">
            <label class="form-label" for="email-for-pass">
              Enter your email address</label
            >
            <input
              matInput
              class="form-control"
              type="email"
              formControlName="email"
              id="email-for-pass"
            />
            <mat-error *ngIf="message == 'notfound'"
              >Email không tồn tại</mat-error
            >
          <h2>Forgot your password?</h2>
      <p>Change your password in three easy steps. This will help you to secure your password!</p>
      <ol class="list-unstyled">
        <li><span class="text-primary text-medium">1. </span>Enter your email address below.</li>
        <li><span class="text-primary text-medium">2. </span>Our system will send you OTP</li>
        <li><span class="text-primary text-medium">3. </span>Use the OTP to reset your password</li>
      </ol>
      </div>
      <form  [formGroup]="formEmail" class="card mt-4">
        <div class="card-body">

          <div class="form-group">
            <label class="form-label" for="email-for-pass"> Enter your email address</label>
            <input matInput class="form-control" type="email" [email]="this.formEmail.controls.email.value"
              formControlName="email" id="email-for-pass">
            <mat-error *ngIf="message=='NOT_FOUND'">Email không tồn tại</mat-error>
            <mat-error *ngIf="!formEmail.valid && formEmail.touched">
              Please enter a valid email address
            </mat-error>
          </div>
        </div>
        <div class="card-footer">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!this.formEmail.valid"
            (click)="onSubmit()"
          >
            Get OTP
          </button>
          <button routerLink="/auth" class="btn btn-danger ml-3" type="submit">
            Back to Login
          </button>
          <button class="{{disableClick}}" class="btn btn-success" type="submit" [disabled]="!this.formEmail.valid" (click)="onSubmit()">Get
            OTP</button>
          <button routerLink="/auth" class="btn btn-danger ml-3" type="submit">Back to Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
