<h1>Thêm mới tin tuyển dụng</h1>

    <form class="pb-5">
        <div class="form-row mb-3">
            <div class="form-group">
                <div class="row">
                    <label class="label col-form-label ">Tên công việc</label>
                        <input type="text" pInputText class="form-control" formControlName="name">
                </div>
            </div>
        </div>
      
        <input type="hidden" formControlName="userCreate">
            <div class="card-footer">
            <button class="btn btn-success mr-3"  type="button">Lưu tin</button>
            <button  class="btn btn-primary" type="button">Đóng</button>
        </div>
    </form>
   



