
<div class="table-wrapper">
    <h2 id="page-heading">
        <span>Hồ sơ ứng tuyển</span>
    </h2>


    <div class="border-top">
        <div class="container">
            <form class="ng-pristine ng-valid ng-touched" [formGroup]="formSearch">
                <div class="card-body row pt-3">
                    <div class="form-group col-sm-3 row p-0 m-0 pt-3">
                        <div class="col-sm-3 pl-0 pt-2 text-sm-left"><label>Tên công việc</label></div>
                        <div class="col-sm-9 pr-0"><input type="text" formControlName="jobName"
                                placeholder="Thông tin tìm kiếm" class="form-control ng-pristine ng-valid ng-touched"
                                ng-reflect-name="code"></div>
                    </div>
                    <div class="form-group col-sm-3 row p-0 m-0 pt-3" style="padding-right: 120px;">
                        <div class="col-sm-3 pl-0 pt-2 text-sm-right"><label>Tên ứng viên</label></div>
                        <div class="col-sm-9 pr-0">
                            <!--                            <input type="text" formControlName="name" placeholder="Nhập tên điều kiện" class="form-control ng-pristine ng-valid ng-touched">-->
                            <input type="text" class="form-control" formControlName="applyName" list="types"
                                placeholder="Thông tin tìm kiếm" />
                            <datalist id="types">
                                <!-- <option *ngFor="let productType of productTypes">{{productType.productName}}</option> -->
                            </datalist>
                        </div>
                    </div>
                    <div class="form-group col-sm-3 row p-0 ml-3 pt-3">
                        <div class="col-sm-3 pl-0 pt-2"><label>Trạng thái</label></div>
                        <div class="col-sm-9 pr-0">
                            <select formControlName="status" class="form-control ng-pristine ng-valid ng-touched">
                                <option value="" [selected]="true">Tất cả</option>
                                <option value="4">Đã tuyển</option>
                                <option value="2">Chờ phỏng vấn</option>

                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-2 p-0 m-0 pt-3 text-right">
                        <button class="btn btn-group" (click)="onSearch()"
                            style="background-color:  #ea0606;color:white;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                viewBox="0 0 16 16 " class="bi bi-search font-weight-bold"
                                style="margin-top: 4%; margin-right: 4px;">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z">
                                </path>
                            </svg>
                            Tìm kiếm
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover" aria-describedby="page-heading">
            <thead class="text-center">
                <tr>
                    <th scope="col"><span>STT</span> </th>
                    <th scope="col"><span>Tên ứng viên</span> </th>
                    <th scope="col"><span>Vị trí ứng tuyển</span> </th>
                    <th scope="col"><span>Thời gian nộp hồ sơ</span> </th>
                    <th scope="col"><span>Trạng thái</span> </th>
                    <th scope="col"><span>Thao tác</span></th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr *ngIf="listJobsRegister.length==0">
                    <td class="text-center" colspan="11">Không tìm thấy bản ghi thoả mãn điều kiện</td>
                </tr>
                <tr *ngFor="let job of listJobsRegister;let i=index;">
                    <td [routerLink]="['/home/job-register/detail', job?.id]" style="cursor: pointer;">{{ i+1 }}</td>
                    <td [routerLink]="['/home/job-register/detail', job?.id]" style="cursor: pointer;">
                        {{job?.user?.userName}}</td>
                    <td><a class="" [routerLink]="['/home/job/detail', job.job?.id]"
                            style="color: blue;">{{job?.job?.name}}</a></td>
                    <td>{{job?.dateRegister|date:'dd/MM/yyyy'}}</td>
                    <td>{{job?.statusJobRegister?.code}}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" (click)="getDetailJob(job?.id)" class="btn">
                                <i class="fa fa-eye" style="color: blue;" aria-hidden="true"></i>
                                <span class="d-none d-md-inline"></span>
                            </button>
                            <button type="button"  *ngIf="job?.statusJobRegister?.code==='Ứng viên bị từ chối'||job?.statusJobRegister?.code==='Ứng viên đã hủy ứng'" (click)="openDialogReason(job)" class="btn">
                                <i class="fa fa-frown-o" aria-hidden="true"></i>
                                <span class="d-none d-md-inline"></span>
                            </button>
                            <button type="button" *ngIf="job?.statusJobRegister?.code==='Chờ phỏng vấn'"  (click)="openDialogInterview(job)" class="btn">
                                <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                                <span class="d-none d-md-inline"></span>
                            </button>
                        </div>
                        <!-- <div class="btn-group">
                            <button type="button" class="btn btn-primary btn-sm" style="font-size: 14px;"><i class="fa fa-download" style="font-size: 13px;"  aria-hidden="true"></i>Tải cv</button>
                            <button type="button"
                                *ngIf="job?.statusJobRegister?.code==='Ứng viên bị từ chối'||job?.statusJobRegister?.code==='Ứng viên đã hủy ứng'"
                                (click)="openDialogReason(job)" class="btn btn-success btn-sm" style="font-size: 14px;" image.pngimage.png><i class="fa fa-eye" style="font-size: 13px;" aria-hidden="true"></i>Xem lý do</button>
                            <button type="button" (click)="openDialogInterview(job)"
                                *ngIf="job?.statusJobRegister?.code==='Chờ phỏng vấn'"
                                class="btn btn-warning btn-sm" style="font-size: 14px;">  <i class="fa fa-calendar-check-o" style="color: blue;font-size: 13px;" aria-hidden="true"></i>Đặt lịch pv</button>
                        </div> -->
                        <!-- <div class="btn-group">
                        <button type="button" (click)="openDialog(job)" data-toggle="tooltip" title="Tải CV" data-placement="top" class="btn">
                            <i class="fa fa-download" style="color: red;" aria-hidden="true"></i>
                            <span class="d-none d-md-inline"></span>
                        </button>
                        <button type="button" data-toggle="tooltip" title="Xem lý do"  *ngIf="job?.statusJobRegister?.code==='Ứng viên bị từ chối'||job?.statusJobRegister?.code==='Ứng viên đã hủy ứng'" (click)="openDialogReason(job)" class="btn">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            <span class="d-none d-md-inline"></span>
                        </button>
                        <button type="button" data-toggle="tooltip" title="Đặt lịch pv"  (click)="openDialogInterview(job)" *ngIf="job?.statusJobRegister?.code==='Chờ phỏng vấn'"  class="btn">
                            <i class="fa fa-calendar-check-o" style="color: blue;" aria-hidden="true"></i>
                            <span class="d-none d-md-inline"></span>
                        </button>
                    </div> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="clearfix">
        <div class="hint-text">Hiển thị <b><select name="bootstrap-data-table_length"
                    aria-controls="bootstrap-data-table" class="form-control-sm" (change)="changePageSize($event)">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                </select></b> mục</div>
        <ul class="pagination" *ngFor="let page of totalPageNum">
            <li *ngIf="page==pageNo" class="page-item active"><a class="page-link"
                    (click)="onClick(page)">{{page+1}}</a></li>
            <li *ngIf="page!=pageNo" class="page-item"><a routerLink="/home/job/detail" class="page-link"
                    (click)="onClick(page)">{{page+1}}</a></li>
        </ul>
    </div>
</div>